<div class="container">
  <div class="row">
    <div class="col-md-1 col-md-offset-5" class="all_desc">
      <h1>Edit</h1>
    </div>
  </div>
</div>
<%= erb :'description/form', :layout => false %>
